*{
  padding: 0;
  margin: 0;
  font-family: 'Muli'
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(214, 214, 200);
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  width: 170px;
  border-bottom: 1px solid;
  text-shadow: black 1px 1px 1px;
  color: white;
}
input{
 padding:10px 20px 10px 20px;
 box-shadow: rgb(100, 100, 100) 1px 1px 1px;
 margin-top: 20px;
 background-color: rgb(156, 155, 76);
 border-style: none;
 border-radius: 7px; 
 color: white;
}
ul{
  margin-top: 20px;
  background-color:rgb(212, 211, 157) ;
  border-radius: 8px;
  width: 280px;
  color: rgb(0, 0, 0);
  text-shadow: rgb(148, 148, 148) 1px 1px 1px;
  box-shadow: black 1px 1px 3px;
}
li{
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
}
button{
  background-color: olive;
  color: white;
  border-style: none;
  padding: 5px 10px 5px 10px;
  margin: 5px;
  border-radius: 6px;
  text-shadow: black 1px 1px 1px;
  box-shadow: black 1px 1px 1px;

}
button:hover{
  background-color:rgb(202, 202, 4);
}
